@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "TextAnalyse";
}
<script src="https://apis.google.com/js/plattform.js" async defer></script>
<meta name="google-signin-client_id" content="85712095585-jnisev9b5hk7fih76qoh1r1napoin1q4.apps.googleusercontent.com" />
<div class="g-signin2" data-onsuccess="OnSignIn"><input type="button" value="Google"/></div>
<script>
    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
    };
</script>

<form method ="get" id="DivSearch" name="DivSearch">
    <h2>@Localizer["This is a test"]</h2>
    <h1>@Localizer["TextAnalys"]</h1>
    <div><input type="text" id="Suchbegriff" name="Suchbegriff"/></div>
    <div><input type="submit" id="ButtonInput" name="ButtonInput" value="Start Search"/></div>
</form>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>