
@{
    ViewData["Title"] = "TextAnalyse";
}

<div>
    <h2>Index</h2>
    <h1>TextAnalyse</h1>
    <div><input type="text" id="Suchbegriff" name="Suchbegriff"/></div>
    <div><input type="submit" id="ButtonInput" name="ButtonInput"/></div>
</div>