@using Microsoft.AspNetCore.Mvc.Localization;
@using Textanalyse.Data.Data;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = "TextAnalyse";
}

<div class="col-md-6 col-md-offset-2">
    <section>
        <h4>Login with Google!</h4>

        @{
            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            <form method="post" action="/account/externalLogin">
                <button type="submit" name="provider" value="@loginProviders[0].Name">Login</button>
            </form>
        }

    </section>
</div>

<form method ="get" id="DivSearch" name="DivSearch">
    <h2>@Localizer["This is a test"]</h2>
    <h1>@Localizer["TextAnalys"]</h1>
    <div><input type="text" id="Suchbegriff" name="Suchbegriff"/></div>
    <div><input type="submit" id="ButtonInput" name="ButtonInput" value="Start Search"/></div>
</form>

<environment include="Development">
    <script src="https://apis.google.com/js/plattform.js" async defer></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>